<!-- <div class="container">
  <table class="table">
    <tr>
      <td style="width: 200px">
        <div class="card">
          <div class="card-header">
            Leads
          </div>
          <ul class="list-group style-2" style="overflow-x: hidden;   height: 500px;  ">
            <li class="list-group-item list-group-item-action " *ngFor="let l of list" (click)="onSelect(l)">{{l}} </li>
          </ul>
        </div>
      </td>
      <td style="width: 1000px; ">
        nnnn
      </td>
    </tr>


  </table> -->


<div style=" padding-top: 50px"   >

  <div class="container">
    <table class="table table-hover table-striped" style="overflow-x: scroll;height: 10px;">
      <thead>
        <tr>
          <th>Lead</th>
          <th>Lead details</th>
          <th>Lead Address</th>
          <th>Map</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of list" >
          <td>
            {{l}}
          </td>
          <td>
            {{l}}
          </td>
          <td>
            {{l}}
          </td>
          <td>
            <input (click)="onSelect(l)" class="btn btn-primary"type="button" value="view on map">
          </td>
        </tr>
      </tbody>
    </table>
    <app-map *ngIf=bool [lat]=lat [long]=long></app-map>
  <br>
  <quote-model [leadName]='lead' *ngIf=bool>quote</quote-model>

  </div>
</div>
<div>

  

</div>